body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.display-1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5rem;
}
.display-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 0.8rem 3.5rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #ffbd39 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffbd39 !important;
  border-color: #ffbd39 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #041a45 !important;
  border-color: #041a45 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffbd39;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #e19600 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbd39 !important;
  border-color: #ffbd39 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #041a45;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #041a45 !important;
  border-color: #041a45 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffbd39 !important;
}
.text-secondary {
  color: #041a45 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #d28c00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #041a45 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffbd39;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbd39;
  border-color: #ffbd39;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffbd39;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffbd39 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ffbd39;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffbd39;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffbd39;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffbd39;
  border-bottom-color: #ffbd39;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffbd39 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #041a45 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffbd39' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-ti0Ff5sJsl {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 96px;
}
.cid-ti0Ff5sJsl nav.navbar {
  position: fixed;
}
.cid-ti0Ff5sJsl .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ti0Ff5sJsl .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-ti0Ff5sJsl .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ti0Ff5sJsl .dropdown-item:hover,
.cid-ti0Ff5sJsl .dropdown-item:focus {
  background: #ffbd39 !important;
  color: white !important;
}
.cid-ti0Ff5sJsl .dropdown-item:hover span {
  color: white;
}
.cid-ti0Ff5sJsl .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ti0Ff5sJsl .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ti0Ff5sJsl .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ti0Ff5sJsl .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ti0Ff5sJsl .nav-link {
  position: relative;
}
.cid-ti0Ff5sJsl .container {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 992px) {
  .cid-ti0Ff5sJsl .container {
    flex-wrap: nowrap;
  }
}
.cid-ti0Ff5sJsl .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
}
.cid-ti0Ff5sJsl .iconfont-wrapper:hover {
  color: #041a45 !important;
}
.cid-ti0Ff5sJsl .dropdown-menu,
.cid-ti0Ff5sJsl .navbar.opened {
  background: #ffffff !important;
}
.cid-ti0Ff5sJsl .nav-item:focus,
.cid-ti0Ff5sJsl .nav-link:focus {
  outline: none;
}
.cid-ti0Ff5sJsl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ti0Ff5sJsl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ti0Ff5sJsl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ti0Ff5sJsl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ti0Ff5sJsl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ti0Ff5sJsl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ti0Ff5sJsl .navbar {
  min-height: 96px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.cid-ti0Ff5sJsl .navbar.opened {
  transition: all 0.3s;
}
.cid-ti0Ff5sJsl .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ti0Ff5sJsl .navbar .navbar-logo img {
  width: auto;
}
.cid-ti0Ff5sJsl .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ti0Ff5sJsl .navbar.collapsed {
  justify-content: center;
}
.cid-ti0Ff5sJsl .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ti0Ff5sJsl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ti0Ff5sJsl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ti0Ff5sJsl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ti0Ff5sJsl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ti0Ff5sJsl .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ti0Ff5sJsl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ti0Ff5sJsl .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ti0Ff5sJsl .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ti0Ff5sJsl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ti0Ff5sJsl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ti0Ff5sJsl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ti0Ff5sJsl .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ti0Ff5sJsl .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ti0Ff5sJsl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ti0Ff5sJsl .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ti0Ff5sJsl .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0.5rem;
    max-width: 60%;
  }
  .cid-ti0Ff5sJsl .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ti0Ff5sJsl .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ti0Ff5sJsl .navbar.navbar-short {
  min-height: 96px;
}
.cid-ti0Ff5sJsl .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ti0Ff5sJsl .navbar.navbar-short .navbar-brand {
  min-height: 96px;
  padding: 0;
}
.cid-ti0Ff5sJsl .navbar-brand {
  min-height: 96px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word !important;
  z-index: 1;
  word-wrap: break-word !important;
  white-space: normal;
}
.cid-ti0Ff5sJsl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ti0Ff5sJsl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ti0Ff5sJsl .navbar-brand:hover {
  transform: scale(1.1);
}
.cid-ti0Ff5sJsl .dropdown-item.active,
.cid-ti0Ff5sJsl .dropdown-item:active {
  background-color: transparent;
}
.cid-ti0Ff5sJsl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ti0Ff5sJsl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ti0Ff5sJsl .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ti0Ff5sJsl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ti0Ff5sJsl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ti0Ff5sJsl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ti0Ff5sJsl ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ti0Ff5sJsl .navbar-buttons {
  text-align: center;
}
.cid-ti0Ff5sJsl .navbar-buttons .btn {
  padding: 9px 18px;
  min-width: 100px;
  min-height: 52px;
  border-radius: 0.3rem;
}
.cid-ti0Ff5sJsl .navbar-buttons .btn:hover {
  color: #041a45 !important;
}
@media (max-width: 575px) {
  .cid-ti0Ff5sJsl .navbar-buttons .btn {
    width: auto !important;
  }
}
.cid-ti0Ff5sJsl .navbar-buttons .btn-black {
  border: solid 2px #ffbd39 !important;
  box-shadow: 3px 3px 0 0 #ffbd39 !important;
}
.cid-ti0Ff5sJsl .navbar-buttons .btn-black:hover {
  border: solid 2px #ffbd39 !important;
  color: #041a45 !important;
  box-shadow: 0 0 0 0 #ffbd39 !important;
}
.cid-ti0Ff5sJsl button.navbar-toggler {
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  border-radius: 0.3rem;
  background-color: #ffffff !important;
  border: solid 2px #ffbd39 !important;
  box-shadow: 3px 3px 0 0 #ffbd39 !important;
}
.cid-ti0Ff5sJsl button.navbar-toggler:hover {
  border: solid 2px #ffbd39 !important;
  color: #041a45 !important;
  box-shadow: 0 0 0 0 #ffbd39 !important;
}
.cid-ti0Ff5sJsl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  border-right: 5px;
  background-color: #041a45;
}
.cid-ti0Ff5sJsl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 9px;
  left: 8px;
  transition: all 0.2s;
}
.cid-ti0Ff5sJsl button.navbar-toggler .hamburger span:nth-child(2) {
  left: 8px;
  top: 17px;
  transition: all 0.15s;
}
.cid-ti0Ff5sJsl button.navbar-toggler .hamburger span:nth-child(3) {
  left: 8px;
  top: 17px;
  transition: all 0.15s;
}
.cid-ti0Ff5sJsl button.navbar-toggler .hamburger span:nth-child(4) {
  left: 8px;
  top: 25px;
  transition: all 0.2s;
}
.cid-ti0Ff5sJsl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ti0Ff5sJsl nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ti0Ff5sJsl nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ti0Ff5sJsl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ti0Ff5sJsl .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ti0Ff5sJsl a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ti0Ff5sJsl .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ti0Ff5sJsl .navbar {
    height: 70px;
  }
  .cid-ti0Ff5sJsl .navbar.opened {
    height: auto;
  }
  .cid-ti0Ff5sJsl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ti0Ff5sJsl .navbar-nav {
  margin: 0 auto;
}
.cid-ti0Ff5sJsl .nav-item {
  padding: 0;
  margin: 2px;
}
.cid-ti0Ff5sJsl .nav-item .nav-link {
  padding: 6px 32px !important;
  margin: 0 !important;
}
.cid-ti0Ff5sJsl .nav-item .nav-link::after {
  color: #041a45 !important;
  transform: rotate(0);
  transition: .3s;
}
.cid-ti0Ff5sJsl .nav-item .nav-link:hover {
  color: #041a45 !important;
}
.cid-ti0Ff5sJsl .nav-item .nav-link.show::after {
  transform: rotate(180deg);
}
.cid-ti0Ff5sJsl .nav-item .dropdown-menu {
  background-color: #ffffff !important;
}
.cid-ti0Ff5sJsl .nav-item .dropdown-menu:hover {
  background-color: #ffffff !important;
}
.cid-ti0Ff5sJsl .nav-item .dropdown-menu .dropdown-item {
  color: #ffffff !important;
  background-color: transparent !important;
}
.cid-ti0Ff5sJsl .nav-item .dropdown-menu .dropdown-item:hover {
  color: #ffbd39 !important;
}
@media (max-width: 991px) {
  .cid-ti0Ff5sJsl .navbar {
    justify-content: flex-start !important;
  }
  .cid-ti0Ff5sJsl .navbar.opened {
    min-height: 100vh !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .cid-ti0Ff5sJsl .navbar-collapse {
    padding: 20px 0 3rem;
  }
  .cid-ti0Ff5sJsl .navbar-collapse .navbar-nav {
    width: 100%;
    margin-bottom: 24px;
  }
  .cid-ti0Ff5sJsl .navbar-collapse .nav-item {
    width: 100%;
    margin: 0;
  }
  .cid-ti0Ff5sJsl .navbar-collapse .nav-item:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .cid-ti0Ff5sJsl .navbar-collapse .nav-item .nav-link {
    padding: 14px 0 !important;
    justify-content: flex-start;
  }
}
.cid-tkJK89Wzx5 {
  padding-top: 0;
  padding-bottom: 0;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #041a45;
}
.cid-tkJK89Wzx5 .image-wrapper {
  position: relative;
  height: 100%;
}
.cid-tkJK89Wzx5 .mbr-section-title {
  color: #ffffff;
  text-align: left;
  width: 90%;
}
.cid-tkJK89Wzx5 .mbr-section-subtitle {
  margin: 0;
  color: #c0bcb7;
  text-align: left;
  width: 90%;
}
.cid-tkJK89Wzx5 .mbr-section-btn {
  width: 90%;
}
.cid-tkJK89Wzx5 img {
  object-fit: cover;
  height: 100%;
}
.cid-tkJK89Wzx5 section {
  position: relative;
}
.cid-tkJK89Wzx5 .wrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 60px;
}
@media (max-width: 991px) {
  .cid-tkJK89Wzx5 .wrap {
    justify-content: center;
    padding: 1rem;
  }
  .cid-tkJK89Wzx5 .mbr-section-subtitle,
  .cid-tkJK89Wzx5 .mbr-section-btn,
  .cid-tkJK89Wzx5 .mbr-section-title {
    width: 100%;
    padding: 0;
  }
}
.cid-tkJK89Wzx5 .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.cid-tkJK89Wzx5 .btn {
  padding: 0.8rem 4rem;
  position: relative;
  color: #c0bcb7;
  -webkit-box-shadow: preserve-3d;
  -moz-box-shadow: preserve-3d;
  transform-style: preserve-3d;
}
.cid-tkJK89Wzx5 .effectHover {
  -webkit-box-shadow: translateZ(-1px);
  -moz-box-shadow: translateZ(-1px);
  transform: translateZ(-1px);
  position: absolute;
  width: 105%;
  height: 85%;
  border: 1px solid #41392e;
}
.cid-tkJK89Wzx5 .effectHover::before {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  border-top: 1px solid #41392e;
  border-left: 1px solid #41392e;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-tkJK89Wzx5 .effectHover::after {
  content: "";
  right: -1px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  border-bottom: 1px solid #41392e;
  border-right: 1px solid #41392e;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-tkJK89Wzx5 .btn:hover .effectHover::before {
  border-top: 1px solid #ffbd39;
  border-left: 1px solid #ffbd39;
  transform: scale3d(1, 1, 1);
}
.cid-tkJK89Wzx5 .btn:hover .effectHover::after {
  border-bottom: 1px solid #ffbd39;
  border-right: 1px solid #ffbd39;
  transform: scale3d(1, 1, 1);
}
.cid-tkJK89Wzx5 .mbr-section-subtitle,
.cid-tkJK89Wzx5 .mbr-section-btn {
  color: #ffffff;
}
.cid-tkJSn8SNAs {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #041a45;
}
.cid-tkJSn8SNAs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJSn8SNAs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJSn8SNAs .col-title {
  margin-bottom: 20px;
}
.cid-tkJSn8SNAs .mbr-section-title {
  color: #112B6D;
}
.cid-tkJSn8SNAs .mbr-section-subtitle {
  color: #112B6D;
  margin-top: 20px;
}
.cid-tkJSn8SNAs .cards-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 !important;
}
@media (max-width: 991px) {
  .cid-tkJSn8SNAs .cards-container {
    padding: 0 20px !important;
  }
}
.cid-tkJSn8SNAs .card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 15px;
  width: 25%;
}
@media (max-width: 991px) {
  .cid-tkJSn8SNAs .card {
    width: 50%;
  }
}
.cid-tkJSn8SNAs .card img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.cid-tkJNT5mYSx {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tkJNT5mYSx .mbr-text {
  color: #767676;
}
.cid-tkJNT5mYSx .media-container-row {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-tkJNT5mYSx .card-item {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-tkJNT5mYSx .card-item .card-icon {
  margin: 0 0.5rem 1rem;
}
.cid-tkJNT5mYSx .card-item .card-icon span {
  font-size: 4rem;
  padding: 0.5rem;
  color: #4284df;
  -webkit-transition: transform 0.4s cubic-bezier(0.38, 3, 0.57, 1.6);
  -moz-transition: transform 0.4s cubic-bezier(0.38, 3, 0.57, 1.6);
  transition: transform 0.4s cubic-bezier(0.38, 3, 0.57, 1.6);
}
.cid-tkJNT5mYSx .card-item:hover .card-icon span {
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}
@media (min-width: 577px) {
  .cid-tkJNT5mYSx .card-item .card-icon {
    margin-right: 2rem;
    min-width: 5rem;
  }
}
@media (min-width: 992px) {
  .cid-tkJNT5mYSx .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
@media (max-width: 576px) {
  .cid-tkJNT5mYSx .card-item {
    padding: 0 0 1rem !important;
  }
  .cid-tkJNT5mYSx .card-item .card-icon {
    min-width: 4rem;
  }
  .cid-tkJNT5mYSx .card-item .card-icon span {
    font-size: 3rem;
  }
}
.cid-tkJNT5mYSx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJNT5mYSx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJNT5mYSx .card-title {
  color: #041a45;
}
.cid-tkKDSTPr0u {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #041a45;
}
.cid-tkKDSTPr0u .row {
  padding: 20px 0;
}
@media (min-width: 992px) {
  .cid-tkKDSTPr0u .row {
    padding: 20px 34px;
  }
}
.cid-tkKDSTPr0u .mbr-text {
  color: #ffffff;
}
.cid-tkK8nLbCVe {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-tkK8nLbCVe .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkK8nLbCVe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkK8nLbCVe .plan-body {
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.cid-tkK8nLbCVe .btn {
  width: 100%;
  margin: 0;
  border-radius: 10px;
}
.cid-tkK8nLbCVe .mbr-section-btn {
  margin: 0;
  padding-top: 2rem;
}
.cid-tkK8nLbCVe img {
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
}
.cid-tkK8nLbCVe .plan-title {
  background: black;
  border-radius: 16px;
  padding: 6px 16px;
  width: fit-content;
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tkK8nLbCVe .plan-title {
    margin: auto;
  }
}
.cid-tkK8nLbCVe .price a {
  background: #041a45;
  border-radius: 16px;
  padding: 3px 10px;
}
.cid-tkK8nLbCVe .li-item {
  align-items: center;
  display: flex;
}
.cid-tkK8nLbCVe .item {
  color: #e43f3f;
}
.cid-tkK8nLbCVe svg {
  margin-right: 0.5rem;
  width: 25px;
  height: 15px;
}
.cid-tkK8nLbCVe path {
  fill: currentColor;
}
.cid-tkK8nLbCVe .item,
.cid-tkK8nLbCVe path {
  color: #ffffff;
  text-align: left;
}
.cid-tkK8nLbCVe .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-tkK8nLbCVe .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tkK8nLbCVe .price {
  color: #ffffff;
}
.cid-tkK8nLbCVe .plan {
  word-break: break-word;
  background-color: #041a45;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 0;
}
@media (max-width: 767px) {
  .cid-tkK8nLbCVe .plan {
    padding: 0rem;
  }
}
@media (max-width: 991px) {
  .cid-tkK8nLbCVe .plan {
    margin-bottom: 2rem;
  }
}
.cid-tkK8nLbCVe .price-term {
  color: #ffffff;
}
.cid-tkK8nLbCVe .main-title {
  color: #041a45;
}
.cid-tkJP5xk18Y {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffbd39;
}
.cid-tkJP5xk18Y .mbr-text {
  line-height: 1.5;
  color: #041a45;
  text-align: center;
}
.cid-tkJP5xk18Y .mbr-section-title {
  text-align: center;
  color: #656565;
}
.cid-tkJP5xk18Y .color {
  background: #f4f4f4;
  padding: 1rem 3rem;
  padding-bottom: 0.3rem;
}
.cid-tkN4iZGd8I {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #041a45;
}
.cid-tkN4iZGd8I .row {
  padding: 20px 0;
}
@media (min-width: 992px) {
  .cid-tkN4iZGd8I .row {
    padding: 20px 34px;
  }
}
.cid-tkN4iZGd8I .mbr-text {
  color: #ffffff;
}
.cid-tkJODtK8by {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/digital-literacy222-and-productivity-2000x1414.png");
}
.cid-tkJODtK8by .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-tkJODtK8by .row {
  justify-content: center;
}
.cid-tkJODtK8by .card-text {
  color: #263d5a;
}
.cid-tkJODtK8by .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 0;
  padding: 1rem;
  overflow: visible;
  position: relative;
  justify-content: center;
}
.cid-tkJODtK8by .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
  pointer-events: none;
}
.cid-tkJODtK8by .inner {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  padding: 2rem 1rem;
  box-shadow: none;
  backdrop-filter: blur(0px);
}
.cid-tkJODtK8by .card-box {
  padding: 1rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 992px) {
  .cid-tkJODtK8by .card {
    padding-bottom: 2rem;
  }
}
.cid-tkJODtK8by .card-title,
.cid-tkJODtK8by .iconfont-wrapper {
  color: #263d5a;
}
.cid-tkJODtK8by .card-subtitle {
  color: #263d5a;
}
.cid-tkN0Y5jO3Q {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/digital-literacy222-and-productivity-2000x1414.png");
}
.cid-tkN0Y5jO3Q .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-tkN0Y5jO3Q .row {
  justify-content: center;
}
.cid-tkN0Y5jO3Q .card-text {
  color: #263d5a;
}
.cid-tkN0Y5jO3Q .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 0;
  padding: 1rem;
  overflow: visible;
  position: relative;
  justify-content: center;
}
.cid-tkN0Y5jO3Q .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
  pointer-events: none;
}
.cid-tkN0Y5jO3Q .inner {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  padding: 2rem 1rem;
  box-shadow: none;
  backdrop-filter: blur(0px);
}
.cid-tkN0Y5jO3Q .card-box {
  padding: 1rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 992px) {
  .cid-tkN0Y5jO3Q .card {
    padding-bottom: 2rem;
  }
}
.cid-tkN0Y5jO3Q .card-title,
.cid-tkN0Y5jO3Q .iconfont-wrapper {
  color: #263d5a;
}
.cid-tkN0Y5jO3Q .card-subtitle {
  color: #263d5a;
}
.cid-tkPJLbtzUF {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #041a45;
}
.cid-tkPJLbtzUF .row {
  padding: 20px 0;
}
@media (min-width: 992px) {
  .cid-tkPJLbtzUF .row {
    padding: 20px 34px;
  }
}
.cid-tkPJLbtzUF .mbr-text {
  color: #ffffff;
}
.cid-tkNzaAbhZ8 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tkNzaAbhZ8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkNzaAbhZ8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkNzaAbhZ8 .text-wrapper {
  padding: 2rem 4rem;
}
@media (max-width: 767px) {
  .cid-tkNzaAbhZ8 .text-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-tkNzaAbhZ8 .wrapper {
  background: #041a45;
  border-radius: 2rem;
  overflow: hidden;
}
.cid-tkNzaAbhZ8 .image-wrapper {
  padding: 0;
}
.cid-tkNzaAbhZ8 .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tkNzaAbhZ8 .mbr-section-title {
  color: #ffffff;
}
.cid-tkPVOp4wSk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #041a45;
}
.cid-tkPVOp4wSk .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-tkPVOp4wSk .col-text {
    padding: 30px;
  }
}
@media (max-width: 991px) {
  .cid-tkPVOp4wSk .col-text {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .cid-tkPVOp4wSk .col-form {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .cid-tkPVOp4wSk .col-form {
    padding: 30px;
  }
}
.cid-tkPVOp4wSk .mbr-section-title {
  color: #222222;
  margin-bottom: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tkPVOp4wSk .mbr-section-title {
    text-align: center !important;
  }
}
.cid-tkPVOp4wSk .item {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.cid-tkPVOp4wSk .mbr-section-btn {
  margin-bottom: 10px;
}
.cid-tkPVOp4wSk .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tkPVOp4wSk .mbr-section-btn {
    text-align: center !important;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .cid-tkPVOp4wSk .form-container {
    text-align: center !important;
  }
}
.cid-tkPVOp4wSk .form-group {
  margin-bottom: 10px !important;
}
.cid-tkPVOp4wSk .form-control {
  font-size: 1rem;
  border-radius: 0 !important;
}
.cid-tkPVOp4wSk .row-custom {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .cid-tkPVOp4wSk .row-custom {
    flex-wrap: wrap;
  }
}
.cid-tkPVOp4wSk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkPVOp4wSk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkPVOp4wSk .mbr-section-title,
.cid-tkPVOp4wSk .mbr-section-btn {
  color: #ffffff;
}
.cid-tkKdKLYoae {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #041a45;
}
@media (max-width: 767px) {
  .cid-tkKdKLYoae .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-tkKdKLYoae .mbr-text {
  color: #767676;
}
.cid-tkKdKLYoae .links {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tkKdKLYoae .links {
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .cid-tkKdKLYoae .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-tkKdKLYoae .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: 0.05;
}
.cid-tkKdKLYoae .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-tkKdKLYoae .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-tkKdKLYoae .footer-lower .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-tkKdKLYoae .footer-lower .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-tkKdKLYoae .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tkKdKLYoae .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tkKdKLYoae .copyright > p {
  color: #ffffff;
}
